/* common-styles.module.css */

.backgroundContainer {
  /* Establece la imagen de fondo y otros estilos según sea necesario */
  background-image: url('https://media3.giphy.com/media/aOiiut0WA77nYsDddq/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  min-height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; 
}
.backgroundContainer1 {
  /* Establece la imagen de fondo y otros estilos según sea necesario */
  background-image: url('https://i.blogs.es/87721e/e60ndt2ucay2qi1/1366_2000.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  min-height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; 
}
.backgroundContainer2 {
  /* Establece la imagen de fondo y otros estilos según sea necesario */
  background-image: url('https://images.unsplash.com/photo-1542779283-429940ce8336?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; 
}
.backgroundContainer5 {
  /* Establece la imagen de fondo y otros estilos según sea necesario */
  background-image: url('https://www.infobae.com/new-resizer/sCkVhKGnE38Hfh7uDmDkDq1IUYQ=/768x432/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/47PSV2UMNBCN5LAYELRK4M2IVM.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; 
}
.backgroundContainercombat {
  /* Establece la imagen de fondo y otros estilos según sea necesario */
  margin-top: 0%;
  margin-bottom: 0%;
  background-image: url('https://i.pinimg.com/564x/a5/48/4c/a5484c0695a58f3d20a1a09975dd4019.jpg');
  background-position: center;
  min-height: 96vh;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
/* Estilos para el contenedor principal */
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
}
.pageContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}
.pageContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.pageContainer5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos para el contenedor del formulario */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(145, 78, 165, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(89, 3, 97);
}
.container1 {
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 max-width: 400px;
 min-height: 96vh;
 margin: 0 auto;
 padding: 20px;
 background-color: rgba(11, 1, 37, 0.68);
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.container2 {
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 transition:  all .5s ease-out;
 max-width: 400px;
 margin: 0 auto;
 padding: 20px;
 background-color: #042f1457;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.container5 {
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 transition:  all .5s ease-out;
 max-width: 400px;
 margin: 0 auto;
 padding: 20px;
 background-color: #ebf191b6;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(158, 130, 5, 0.952); 
}


.customHeader {
  text-align: center;
  color: rgb(89, 3, 97);
  margin-bottom: 20px;
}
.customHeader1 {
  text-align: center;
  color: #f7f4f4;
  margin-bottom: 20px;
}
.customHeader2 {
  text-align: center;
  color: #f7f4f4;
  margin-bottom: 20px;
}
.customHeader5 {
  text-align: center;
  color: #000000d5;
  margin-bottom: 10px;
}
.customHeader5n {
  text-align: center;
  color: #000000d5;
  margin-bottom: 10px;
  font-size: 3ch;
  font-weight: 500;
}

.inputField {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(38, 0, 41);
  background-color: rgb(48, 1, 92);
  border-radius: 4px;
  cursor: pointer;
}
.inputField1 {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #0608927c;
  background-color: #5d5eb3b2;
  border-radius: 4px;
  cursor: pointer;
}
.inputField2 {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(41, 18, 0);
  background-color: rgb(53, 23, 0);
  border-radius: 4px;
  cursor: pointer;
}
.inputField5 {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(41, 18, 0);
  background-color: rgb(53, 23, 0);
  border-radius: 4px;
  cursor: pointer;
}


.inputField:hover{
  background-color: rgba(11, 1, 37, 0.68);
}
.inputField::first-line{
  color: #ffffff;
}

.inputField1:hover{
  background-color: rgba(11, 1, 37, 0.68);
}
.inputField1::first-line{
  color: #f4f4f5;
}

.inputField2:hover{
  background-color: rgba(37, 18, 1, 0.68);
}
.inputField2::first-line{
  color: #5c5c5c;
}
.inputField5:hover{
  background-color: rgba(37, 18, 1, 0.68);
}
.inputField5::first-line{
  color: #5c5c5c;
}

/* Estilos para el botón común */
.custom-button {
  width: 100%;
  padding: 12px; /* Aumenta el tamaño del botón */
  cursor: pointer;
  margin-top: 15px; /* Aumenta el espacio entre el botón y las cajas de entrada */
}

.custom-button:hover {
  background-color: #2980b9;
}

/* Estilos específicos para el botón de login */
.custom-button.login {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}

/* Estilos específicos para el botón de registro */
.custom-button.register {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.custom-button.register:hover {
  background-color: #2980b9;
}

/* Estilos específicos para el botón de recuperación */
.custom-button.recovery {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.registerButton {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.registerButton:hover {
  background-color: #2980b9;
}
.recoveryButton:hover {
  background-color: #2980b9;
}
.customButton{
  width: 60%;
    border: solid thin rgb(73, 5, 87);
    padding: .7rem;
    border-radius: 3ch;
    background-color: rgb(89, 3, 97);
    margin-top: 0rem;
    margin-left: 20%;
    font-size: .8rem;
    cursor: pointer;
    color: #ffffff;
}
.customButton1{
  width: 60%;
    border: solid thin rgb(255, 255, 255);
    padding: .7rem;
    border-radius: 3ch;
    background-color: rgb(19, 2, 64);
    margin-top: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: #ffffff;
}
.customButton2{
  width: 60%;
    border: solid thin rgb(70, 28, 0);
    padding: .7rem;
    border-radius: 3ch;
    background-color: rgba(53, 23, 0, 0);
    margin-top: 0%;
    margin-left: 20%;
    font-weight: 100;
    font-size: .9rem;
    cursor: pointer;
    color: #ffffff;
}
.forget5{
  width: 60%;
    border: solid thin rgb(70, 28, 0);
    padding: .7rem;
    border-radius: 3ch;
    background-color: rgba(53, 23, 0, 0);
    margin-top: 0%;
    margin-left: 20%;
    font-weight: 100;
    font-size: .9rem;
    cursor: pointer;
    color: #ffffff;
}

.customButton:hover {
  background-color: #bc5cc5b7;
}
.customButton1:hover {
  background-color: #240691b7;

}
.customButton2:hover {
  background-color: rgb(41, 18, 0);

}

.forget {
  margin-top: 5px;
  color: #f7f5f5;
}
.forget a {
  color: #4cafaa;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}

.forget4 {
  margin-top: 5px;
  color: #f7f5f5;
}
.forget4 a {
  color: #bb86c0;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}
.forget5 {
  margin-top: 5px;
  box-sizing: content-box;
 
}
.forget5 a {
  
  border-radius: 4px;
  padding: 11px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  background-color: #d4b21a00;
  color: #756003;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}
.forget5:hover{
  background-color: rgb(40, 41, 0);
}

.forget2 {
  margin-top: 5px;
  color: #ffffff;
}
.forget2 a {
  color: #572402;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}






